{% extends 'base.html' %}

{% block content %}

    <div>
        <h2>Project {{ project.name }}</h2>
        <p>Hello {{ user.username }}!</p>
        <a href='logout/'>logout</a>
    </div>

    <div>
        <h3>Test cases</h3>
        <ul>
            {% for project in projects %}
                <li>
                    <a href='project/{{ project.id }}'>{{ project.name }} - id {{ project.id }}</li>
            {% endfor %}
        </ul>
        <button class='newProjectBtn'>Create new project</button>
        <!--TODO should be in popup-->
        <input type='text' class='newProjectName' placeholder='project name'>
        <input type='text' class='newProjectDescription' placeholder='project description'>
    </div>

    <script>
        $('.newProjectBtn').click(function (event) {
            var name = $('.newProjectName').val();
            var descr = $('.newProjectDescription').val();
            $.ajax({
                url: '/project/',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({'name': name, 'description': descr}),
                contentType: 'application/json; charset=utf-8',
                success: positiveHandler,
                error: negativeHandler
            });
        });

        // TODO redirect to peoject details page
        function positiveHandler(data) {
            var resp = data.responseJSON;
            location.href = '/project/' + resp.projectId;
        }

        // TODO error handler
        function negativeHandler(data) {
           return;
        }

    </script>

{% endblock %}