{% extends 'base.html' %}

{% block content %}
    <h2>Register</h2>
    <form action="/register/" method="post" class='registerForm'>
        {% csrf_token %}
        <input type='text' class='usernameInput' name='login' placeholder='username'>
        <input type='email' class='emailInput' name='email' placeholder='email'>
        <input type='password' class='passwordInput' name='password' placeholder='password'>
        <button type="submit" class='registerBtn btn' name='action' value='register'>Register</button>
    </form>
    <script>
        $('.registerForm').on('submit', function (event) {
            event.preventDefault();
        });

        $('.registerBtn').click(function (event) {
            var url = $('.loginForm').attr('action');
            var username = $('.usernameInput').val();
            var email = $('.emailInput').val();
            var pass = $('.passwordInput').val();
            var token = $('input[name=csrfmiddlewaretoken]').val();
            $.post(url, {
                'username': username,
                'email': email,
                'password': pass,
                'csrfmiddlewaretoken': token
            }).done(positiveHandler)
                .fail(negativeHandler);
        });

        function positiveHandler(data) {
            location.href = data.redirect_url
        }

        function negativeHandler(data) {
            var resp = data.responseJSON;
            if (resp.message.email) {
                alert(resp.message.email)
            }
            if (resp.message.password) {
                alert(resp.message.password)
            }
        }

    </script>
{% endblock %}